.homepage-topnav{
    display: flex;
    width:79%;
    height:70px;
    margin:10px auto;
    background-color: white; 
}
.homepage-topnav-left{
    display: flex;
    width:20%;
    height:70px;
}
.homepage-topnav-left-obj{
    text-align: center;
    padding-top:10px;
    height:70px;
    width:150px;
    color:grey;
}
.homepage-topnav-left-obj:hover{
    color:orange;
    cursor: pointer;
}
.homepage-topnav-right{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 80%;
}
.homepage-topnav-right-obj{
    text-align: center;
    line-height: 35px;
    width:11%;
    height:35px;
    color:grey;
}
.homepage-topnav-right-obj:hover{
    cursor: pointer;
    color:orange;
    font-weight: bold;
}
