.gototop{
    position:fixed;
    bottom:100px;
    left:89.5%;
    color:grey;
}
.gototop:hover{
    cursor: pointer;
    color: orange;
}
.gototop-triangle{
    width:0;
    height:0;
    line-height:0;
    font-size:0;
    border:30px solid transparent;
    border-bottom-color:rgba(212, 200, 202,0.2);
}
.gototop-square{
    text-align: center;
    vertical-align: middle;
    width:60px;
    height:60px;
    background-color: rgba(212, 200, 202,0.2);
}